ul.list{
    border-bottom: 1px solid #ededed;
    background-color: aqua;
    margin: .5em;
}

ul.list > li {
    line-height: 3em;
    height: 3em;
    padding: 0 1em;
    border-bottom: 1px solid #ededed;
}

ul.list > li:last-child{
    border-bottom: none;
}