html,body,#root,.App {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.App .nav {
  width:200px;
  background-color: teal;
  height: 100%;
  text-align: center;
}

.App .nav > .title {
  line-height: 3em;
  height: 3em;
  font-size: 18px;
  color:#ffffff;
}

.App .nav li {
  line-height: 2.5em;
  height: 2.5em;
  border-bottom: 1px solid #ededed;
}

.App .nav a {
  color: #ffffff;
  text-decoration: none;
}

.App .content {
  flex:1;
  padding:1em;
  overflow-y:auto;
}
/* 第一天写的样式 */
/*
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/